.centered-container {
    width:400px;
    height:400px;
    background-color:white;
    
    
}

.centered-container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #2a2d34;
}



