.chosen-event {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-width: 700px;
}

.flex-grow {
    flex-grow: 1;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s;
    margin: 6px;
    padding: 5px;
    border-radius: 5px;
}

.event-info-nav {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.event-info-hero {
    display: inline-block;
    text-align: center;
}

.event-info-details {
    flex: 2;
    padding-left: 10px;
}

.event-info-upper {
    display: flex;
}

.attendees {
    flex: 1.5;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-auto-rows: 50px;
    justify-items: center;
    background-color: rgb(217, 217, 217);
}

.myCanvas {
    display: none;
}

.video-feedback > * {
    margin: 10px;
}

.open-camera-button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.event-images {
    margin-top: 10px;
}

.ev-image {
    margin: 10px;
}