.chosen-event {
    background-color: white;

}

.flex-grow {
    flex-grow: 1;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .2s;
    position: absolute;
    right: 0;
    margin: 6px;
    padding: 5px;
    border-radius: 5px;
}