.contain {
    display: flex;
}

.right-container {
    flex-grow: 1;
    background-color: #2a2d34;
    position: relative;
}

.search-input {
   display: block;
  
  
   border: 0 none;
   width: 200px;
}

.search-input:focus {
   
  
    outline: 0 none;
    border: 0 none;
    
 }



.find-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

.current-friends-heading {
    text-align: center;
}

.find-controls > * {
    padding: 5px;
}

.find-button {
    cursor: pointer;
    outline: none;
    border: none;
}

.friends-container {
    background: grey;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.friend-list {
    width: 100%;
    height: 500px;
}