

.flex-container {
    display: flex;
    background-color: blue;
    
    
}

.show-loading-finished {
    grid-template-columns:  repeat(auto-fill,minmax(150px,1fr));
    justify-items: center;
}

.dashboard {
   opacity: 0; 
}

.events-container {
    flex-grow: 1;
    background-color: green;
    
}