@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    
    
}

.images {
    
    display: flex;

}

.signup {
    width: 600px;
    height: 400px;
    background: #D9D9D9; 
    border-radius: 10px;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    padding: 40px;

}

.signup-input {
    width: 100%;
    height: 61px;
    
    color: black;
    padding: 10px;
    transition: all 0.2s;
    outline: none;
    border: none;
}

.signup-input:focus {
    border: 1px solid rgb(0, 102, 255);
    outline: 1px solid rgb(0, 102, 255);
}

.signup-form {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-button {
    background-color: black;
    color: white;
    width: 100%;
    height: 61px;
    transition: all 0.2s;
    cursor: pointer;

}

.signup-button:hover {
    color: rgb(0, 102, 255);
}

.signup-button,.signup-input {
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    
}

@keyframes slide {
    from {transform: translateX(0px);}
    to {transform: translateX(400px);}
}

.present-image {
    height:100px;
  
  
    display:block;
    cursor: pointer;
    transition: all 0.2s;
}

.present-image:hover {
    transform: scale(1.2);
}



.play-animation {
    animation: slide 0.7s;
}

