@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.images {
    display: flex;
}

@keyframes slide {
    from {transform: translateX(0px);}
    to {transform: translateX(400px);}
}

.present-image {
    height:100px;
    display:block;
    cursor: pointer;
    transition: all 0.2s;
}

.present-image:hover {
    transform: scale(1.2);
}

.play-animation {
    animation: slide 0.7s;
}

.hero-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.error-message {
    text-align: center;
    color: red;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }
}