

.host {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
 
}

.text-input {
    flex: .5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-block {
    text-align: center;
}

.input-block > * {
    width: 100%;
}

.img-input {
    flex:0.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.host-img {
    width: 450px;
    height: 450px;
    border: 2px solid black;
}

.img-input {
    margin-top: 10px;
}

.host-container {
    display: flex;
}

.event-description {
    width: 100%;
    display: inline-block;
    position: relative;
}

.max-char-display {
    display: inline-block;
}

.description-titles {
    display: flex;
    justify-content: space-between;
}

.event-input {
    border: 2px solid black;
    padding: 5px;
}

.host-form {
    background-color: white;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    max-width: 700px;
    padding-top: 40px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    position: relative;
}

input,label {
    display: block;
}

.input-block {
    width: 60%;
    position: relative;
    height: 15%;
    min-height: 70px;
}

.input-block > input {
    width: 100%;
    margin: 0 auto;
    height: 40%;
}

.input-block > label {
    margin-bottom: 10px;
    width: 100%;
}

.create-event-btn {
    width: 50%;
}