.auth-form {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.auth-form-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.auth-input,.auth-button {
    width: 80%;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
}

.auth-input {
    border: 3px solid black;
    padding: 10px;
}

.auth-input:focus {
    border: blue;
}

.auth-button {
    background-color: black;
    color: white;
    border: none;
    transition: all 0.2s;
    font-size: larger;
    cursor: pointer;
}

.auth-button:hover {
    transform: translateY(-2px);
}

.redirect {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: red;
}