.auth-form {
    width: 100%;
    height: 300px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.auth-form-container {
    width: 100%;
    height: 100%;
  
    text-align: center;
}

.auth-input,.auth-button {
    width: 70%;
    height: 40px;
    font-weight: bold;
    border-radius: 3px;
}

.auth-input {
    padding: 5px;
}

.auth-input:focus {
    border: blue;
}

.auth-button {
    background-color: black;
    color: white;
    border: none;
    
    font-size: larger;
    cursor: pointer;
}

.redirect {
    width: 70%;
   
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: red;
}