.wrapper {
    width:100vw;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 100;
}

.logo {
    object-fit: cover;
    width: 50px;
    height: 50px;
}