.request {
    width: 200px;
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}



.accept-button,.reject-button {
    background: transparent;
    border: none;
    transition: all .2s;
    cursor: pointer;
    border-radius: 5px;
}

.accept-button:hover,.reject-button:hover {
    background-color: grey;
}

.accept-button {
    color: greenyellow;
    margin-right: 5px;
}

.reject-button {
    color: red;
}
