

.event-container {
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}

.container {
    background-color: grey;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.event-info {
    width: 100px;
    height: 100px;
    background-color: white;
    flex: 0.7;
    height: 100%;
    padding: 10px;
    display: flex;
}

.event-members {
    width: 100px;
    height: 100px;
    background-color: grey;
    flex: 0.3;
    height: 100%;
}

.event-image {
    width: 400px;
    height: 400px;
    border: 3px solid black;
}

.contact {
  
    flex: 0.3;

}

.info {
    padding-left: 10px;
    padding-right: 10px;
    flex: 0.7;
}