

.flex-container {
    display: flex;
    background-color: blue;
    
    
}

.event-filters {
    background-color: grey;
    padding: 5px;
    
}

.show-loading-finished {
    grid-template-columns:  repeat(auto-fill,minmax(150px,1fr));
    justify-items: center;
}

.dashboard {
   opacity: 0; 
}

.events-container {
    flex-grow: 1;
    background-color: green;
    
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,160px));
    justify-items: start;
}

.filter-options {
    cursor: pointer;
}

.option {
    cursor: pointer;
}